<div class="footer">
  <div class="links">
    <a href="#">About Us</a>
    <a href="#">Privacy Policies</a>
    <a href="#">Terms Of Services</a>
  </div>
  <div class="copyright">
    <p>&copy; 2024 Appan Mithila. All rights reserved.</p>
  </div>
</div>
